.series-details-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 20px auto;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.series-image {
    flex: 1 1 300px;
    max-width: 300px;
    order: 1;
}

.series-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.series-info-wrapper {
    flex: 3 1 600px;
    padding: 20px;
    padding-left: 40px;
    order: 2;
}

.series-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 0.5em;
}

.series-meta {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 1em;
}

.genres-container {
    margin-bottom: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.genres-item {
    padding: 0 8px;
    border: 2px solid #555555;
    border-radius: 15px;
}

.series-year {
    margin-right: 0.5em;
}

.series-rating {
    color: #ffd700;
}

.series-details {
    font-size: 1em;
    line-height: 1.6;
    color: #444;
    margin-bottom: 1em;
}

.director-name {
    font-weight: bold;
    margin-bottom: 1em;
}

.character-list h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.character-item {
    font-size: 1em;
    margin-bottom: 0.5em;
}

.character-name {
    font-weight: bold;
    margin-right: 0.5em;
}

.role-name {
    font-style: italic;
    margin-right: 0.5em;
}

.actor-name {
    color: #555;
}
.favourite-container {
    position: absolute;
    top: -8px;
    right: 10px;
    z-index: 2;
}

.add-fav {
    color: red;
    text-decoration: none;
    font-size: 50px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.add-fav:hover {
    color: #d10000;
}
.review-container {
    margin-bottom: 20px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.review-author {
    font-weight: bold;
    color: #333;
}

.review-rating {
    color: #ffd700;
}

.review-body {
    background: white;
    padding: 10px;
    border-radius: 8px;
}

.review-text {
    color: #555;
    line-height: 1.5;
}
