/* General Form Styles */
.form-series {
    max-width: 500px;
    margin: 25px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-series label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

.form-series input[type="text"],
.form-series input[type="number"],
.form-series input[type="file"],
.form-series select,
.form-series textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-series input[type="text"]:focus,
.form-series input[type="number"]:focus,
.form-series input[type="file"]:focus,
.form-series select:focus,
.form-series textarea:focus {
    border-color: #007bff;
    outline: none;
}

.form-series input[type="checkbox"] {
    margin-right: 5px;
}

.form-series button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-series button:hover {
    background-color: #0056b3;
}

.message-box {
    color: red;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    background-color: #ffecec;
    border: 1px solid #d6bcbc;
}


.genres-container {
    margin-bottom: 15px;
}

/* Individual Checkbox with Label */
.genre-checkbox {
    display: flex; /* Use flexbox layout */
    gap: 8px;
    align-items: center; /* Align items vertically in the center */
    margin-bottom: 5px; /* Add some space below each checkbox */
}

.genre-checkbox input[type="checkbox"] {
    margin-right: 5px; /* Add some space between the checkbox and the label */
}