.signup-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

/* Signup Title */
.signup-title {
    margin-bottom: 20px;
    color: #333;
}

/* Signup Form */
.signup-form {
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px
    rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 2px solid #DDDDDD;
}

.signup-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.signup-form input[type="text"],
.signup-form input[type="password"] {
    width: calc(100% - 20px); /* Adjusting for padding */
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.signup-form input[type="text"]:focus,
.signup-form input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}


.signup-button {
width: calc(100% - 20px);
padding: 10px;
background-color: #007bff;
border: none;
border-radius: 4px;
color: white;
cursor: pointer;
transition: background-color 0.2s;
}

.signup-button:hover {
    background-color: #0056b3;
}

/* Message Box for Errors */
.signup-message.error {
    color: red;
    background-color: #ffecec;
    border: 1px solid #d6bcbc;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}